<div class="container">

<p class="tab-wrapper">
  article##
</p>
  <p>
<span>Title:</span>
  <%= @article.title %>
</p>
<p>
  <strong>Text:</strong>
  <%= @article.text %>
</p>
  <br>
  <%= content_tag(:span, "#{post.likes.count} likes", id: "post_#{post.id}_likes") %>

  <% if user_signed_in? %>
      <br>
      <%= link_to 'Like', post_likes_path(post), method: :post, remote: true  %>

      <% if post.creator == current_user %>
          <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %>
      <% end %>
  <% end %>

<%= render @article.comments %>

<%= render "comments/form" %>
 
<%= link_to 'Edit Article', edit_article_path(@article) %> |
<%= link_to 'Back to Articles', articles_path %>

</div>

